@charset "ISO-8859-1";

body{
	background-color: orange;
	
}
h1{
	font-family: 'Racing Sans One', cursive;
	color: red;
	text-decoration: underline;
}
h1:hover{
	font-weight: bold;
	color: green;
}

th{
	font-family: 'Racing Sans One', cursive;
	color: red;
	text-decoration: underline;
}

th:hover{
	font-weight: bold;
	color: green;
}

td{
	font-family: 'Racing Sans One', cursive;
	color: red;
	text-decoration: underline;
}

td:hover{
	font-weight: bold;
	color: green;
}